<!DOCTYPE html>
<html lang="en">
<head>
	{% load static tailwind_tags %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
    <title>{% block title %}ShopSphere{% endblock %}</title>
    <!-- TailwindCSS -->
    <link href="{% static 'dist/styles.css' %}" rel="stylesheet">
</head>
<body class="bg-gray-100 font-sans leading-normal tracking-normal">

    <!-- Navbar -->
    <nav class="bg-blue-600">
        <div class="container mx-auto flex justify-between items-center py-4">
            <a href="/" class="text-white text-xl font-bold">ShopSphere</a>
            <div class="space-x-4">
                <a href="{% url 'product:product_list' %}" class="text-white hover:underline">Products</a>
                
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <main class="container mx-auto mt-6">
        {% block content %}
        <!-- Page-specific content will go here -->
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="bg-gray-800 text-white py-4 mt-6">
        <div class="container mx-auto text-center">
            <p>&copy; {{ year|default:2025 }} ShopSphere. All Rights Reserved.</p>
        </div>
    </footer>

</body>
</html>
